[defaults]
inventory = inventory/hosts.ini
# vault_password_file = .vault_pass
host_key_checking = False
retry_files_enabled = False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts
# stdout_callback = yaml
roles_path = roles

# 代理配置
http_proxy = http://localhost:10808
https_proxy = http://localhost:10808

# SSH配置
[ssh_connection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
